body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/assets/Olympiabc.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

#root {
  min-height: 100vh;
}